.framework{
    width: 90%;
     
    margin: 10px 20px;
    padding: 10px 20px;
    border-bottom:0.01rem solid #E6E6E6;
    input{
        width: 100%;
        border: none;
        outline: none;
        line-height: 10px;
    }
}
